#fizz {
  background: #d0f0ff;
  color: #005577;
}
#buzz {
  background: #ffeaa7;
  color: #b06b00;
}
#fizzbuzz {
  background: #ffdde1;
  color: #a10044;
}
#number {
  background: #eee;
  color: #333;
}
li {
  padding: 6px 10px;
  margin: 4px 0;
  border-radius: 4px;
  list-style: none;
  border: 1px solid #ccc;
  max-width: 100px;
}
